header {
  padding: 10em 0 0 0;
  text-align: center;
  img {
    width: 146px;
    height: 130px;
    // transition: all 0.2s ease-in;
  }
  &.small {
    position: relative;
    width: 96%;
    height: 90px;
    margin: 0 auto;
    border-bottom: 1px solid rgba(255,255,255,0.2);
    img {
      position: absolute;
      padding: 0;
      width: 80px;
      height: 60px;
      top: 20px;
      left: 20px;
    }
  }
}
.frame-content {
  text-align: center;
  // padding: 10em 0 0 0;
}

input.large {
  display: block;
  margin: 0 auto;
  padding: 0.5em 0 0 0;
  color: #FFF;
  background: none;
  border: none;
  border-bottom: 1px solid rgba(255,255,255,0.4);
  // make this a mixin in the typography section
  font-size: 2.5em;
  line-height: 1.5em;
  font-weight: 500;
  letter-spacing: 0.02em;
  outline: none;
}

::-webkit-input-placeholder {
   color: rgba(255,255,255,0.3);
   vertical-align: middle;
}

:-moz-placeholder { /* Firefox 18- */
   color: rgba(255,255,255,0.3);
   vertical-align: middle;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: rgba(255,255,255,0.3);
   vertical-align: middle;
}
