header {
  padding: 10em 0 0 0;
  text-align: center;
  img {
    width: 146px;
    height: 130px;
    // transition: all 0.2s ease-in;
  }
  &.small {
    position: relative;
    width: 96%;
    height: 90px;
    margin: 0 auto;
    border-bottom: 1px solid rgba(255,255,255,0.2);
    img {
      position: absolute;
      padding: 0;
      width: 80px;
      height: 60px;
      top: 20px;
      left: 20px;
    }
  }
}
.frame-content {
  text-align: center;
  // padding: 10em 0 0 0;
}

input.large {
  display: block;
  margin: 0 auto;
  padding: 0.5em 0 0 0;
  color: #FFF;
  background: none;
  border: none;
  border-bottom: 1px solid rgba(255,255,255,0.4);
  @include input-text();
}

.pause {
  margin: 2em 0 0 0;
  opacity: 0.6;
  transition: opacity 0.2s ease-in;
  cursor: pointer;
  &.active{
    opacity: 1;
  }
}

.resultcontainer {
  width: 50%;
  padding: 0.5em 2em 1.5em 2em;
  margin: 2em auto;
  background: white;
  border-radius: 5px;
  color: #333;
}


::-webkit-input-placeholder {
   color: rgba(255, 255, 255, .3);
   vertical-align: middle;
}

:-moz-placeholder { /* Firefox 18- */
   color: rgba(255, 255, 255, .3);
   vertical-align: middle;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: rgba(255, 255, 255, .3);
   vertical-align: middle;
}

.map-container {
  width: 96%;
  background: rgba(255, 255, 255, .1);
  margin-top: 100px;
  margin: 60px auto 2% auto;
  padding: 1% 2% 2% 2%;
}

.map-placeholder {
  height: 400px;
}

h4 {
  text-align: center;
  opacity: .8;
  padding: 2%;
}

.arrow {
  transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  width: 40px;
  height: 40px;
  border: 3px solid #fff;
  border-top: 3px solid transparent;
  border-right: 3px solid transparent;
  margin: 5px auto 0 auto;
  background: rgba(0, 0, 0, 0);
  cursor: pointer;
}
