/**
*
* Typography
*
**/

// Just normalizing text
// Recommend using padding instead of margin
h1, h2, h3, h4, h5, p {
  margin: 0;
}

// Definitions
.small,
small {
  @include type--small;
}

.base,
p,
ul,
ol {
  @include type--base;
}

.medium,
h4 {
  @include type--medium;
}

.large,
h3 {
  @include type--large;
}

.large-heavy {
  font-family: $fontHighlight;
  font-size: $fontLarge;
  font-weight: 300;
  line-height: 1.0000em; /* 26px */
  padding-top: 1.0000em;
  padding-bottom: 0;
  font-weight: 500;
  &.contained {
    width: 65%;
    margin: 0 auto;
    line-height: 1.25em;
  }
}

.xlarge,
h2 {
  @include type--xlarge;
}

.xxlarge,
h1 {
  @include type--xxlarge;
}

.huge {
  @include type--huge;
}


li > p {
  padding-top: 0;
}

.subheadline {
  @include type--base-flat;
}

@mixin input-text() {
  font-size: 2.5em;
  line-height: 1.5em;
  font-weight: 500;
  letter-spacing: 0.02em;
  outline: none;
}
