<h3>This project was lovingly conceived during AngelHack Toronto on June 21-22, 2014.</h3>
<br>
<h4>The team behind getitright.io:</h4>
<br>
<a class="about" href="https://github.com/LeonardoBraga" target="_">Leonardo Braga</a>
<a class="about" href="https://github.com/caiotoon" target="_">Caio Cunha</a>
<a class="about" href="https://github.com/gonzalovazquez" target="_">Gonzalo Vazquez</a>
<a class="about" href="https://github.com/vazquez" target="_">Ricardo Vazquez</a>
<a class="about" href="#/enter" class="submit">See the project in action</a>
<a href="#/enter" class="submit">See the project in action</a>